body
{
	color: #482b11;
	background: slategray;
}

.float-left
{
	float:left;
}

.float-right
{
	float:right;
}

.clear
{
	clear:both;
}

.manifesto
{
	background:white;
	padding: 15px 10px 0px 15px;
	text-align: left;
	width: 390px;
	height: 610px;
	display:inline-block;
	border: solid 10px black;
	outline: solid white 1px;
	box-shadow: 4px 4px 15px 1px black;
}

#manifesto.pageContainer
{
	padding-top:20px;
	display: table;
	text-align:center;
	width:100%;
}

#manifesto span
{
	max-width: 390px;
}

#manifesto span.encouragement
{
	display: block;
}

/*SIZES*/
.small
{
	font-size:12px;
	line-height:12px;
}

.small-medium
{
	font-size:18px;
	line-height:18px;
}

.medium
{
	font-size:24px;
	line-height:24px;
}

.large
{
	font-size:32px;
	line-height:32px;
}

.xlarge
{
	font-size:48px;
	line-height:48px;
}

.xxlarge
{
	font-size:54px;
	line-height:54px;
}

/*COLORS*/
.blue
{
	color:#328b90;
}

.brown
{
	color:brown;
}

/*FONTS*/
.font-c
{
	font-family: 'Cinzel';
}

.font-s
{
	font-family: 'Satisfy';
}

.font-q
{
	font-family: 'Quattrocento';
}

.font-h
{
	font-family: 'Handlee';
}

.font-v
{
	font-family: 'Vidaloka';
}