/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* write your CSS here */
body {
    /* background: url('https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/12322833_10153210731198244_2500967045466408078_o.jpg') no-repeat black 0px 0px;*/
	color: white;
	background-size: 100%;
    font-family: Quicksand;
	background-color:#796b6b;
	text-align:center;
}

#headBanner
{
    padding:20px;
    background-color: transparent;
    color:white;
	position:relative;
	left:-80px;
}

.homeImage
{
	width:100%;
	border-radius:0px 0px 5px 5px;
}

a
{
	padding:5px 8px;
	margin:6px;
    /* color: #796b6b; */
	color:white;
	
     background-color:#74b2c1; 
	/* background-color:#796b6b; */
    border-radius:5px 5px 0px 0px;
	text-decoration:none;
	text-transform:uppercase;
} 
a:hover
{
	/* text-decoration:underline; */
	font-weight:600;
	background-color: lightblue;
	transition: all 0.2s ease-in 0s;
}

p
{
    font-size: 1.5em;
}

.nav
{
	margin-bottom:10px;
	/* delete the next lines later */
	position:relative;
	left:-74px;
}
.pageContainer
{
	text-align:left;
	width:530px;
	margin:auto;
    color: #654;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
	
}
.welcomeContain
{
	padding:10px;
	transition: all 0.2s ease-in 0s;
}
.welcome
{
	font-weight:bold;
}


/* 
.name {
    margin-top:15px;
    color: white;
    font-family: brush script mt;
    font-size: 50px;
    line-height: 10px;
} */

@media screen and (max-width: 559px)
{
	body
	{
		margin: 10px;
	}
	a 
	{
		padding:5px 0px;
		margin-left:0px;
		width: 100%;
		display:block;
	}
	.pageContainer
	{
		width:100%;
		margin-top:0px;
	}
	#headBanner
	{
	position:static;
	}
	.nav
	{
	margin-bottom:4px;
	/* delete the next lines later */
	position:static;
	left:0px;
	}
}
