/*
=======================
Images
=======================
*/
body
{
    font-family: "Quicksand";
}

.outerBanner
{
    margin: auto;
    margin-bottom: 20px;
    background-color: lightblue;
    overflow: hidden;
    width:1402px;
}

.title
{
    color: white;
    background: gray;
    padding: 10px;
    text-transform: uppercase;
}

.slider
{
    position:relative;
    top: 25px;
    left: 0;
    padding-bottom:20px;
    white-space:nowrap;
}

a, .button
{
    cursor: pointer;
}

img
{
    height: 200px;
    vertical-align: middle;
    border-radius: 10px;
    margin-left:25px;
}

.activeImage
{
    height: 400px;
    box-shadow: slategray 0px 0px 16px;
    border-radius: 0px;
}
#graphicDesign .activeImage
{
    height: 600px;
}
/*
=======================
CONTROL BAR and buttons
=======================
*/
.controls
{
    width: 100%;
    background-color:gray;
    text-align:center;
    padding:10px;
    margin-top: 30px;
}

.button
{
    position: relative;
    top:4px;
    margin-left: 18px;
    background: darkgray;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid white;
    display:inline-block;
}

.button:hover
{
    background: lightgray;
}

.prevSymbol
{
    position: relative;
    right: 8px;
    top: 4px;
    width:0;
    height:0;
    border-top: solid 16px transparent;
    border-bottom: solid 16px transparent;
    border-left: solid 16px transparent;
    border-right: solid 16px white;
    vertical-align: middle;
}

.pauseSymbol
{
    position: relative;
    left:6px;
    top:7px;
    margin-left:6px;
    width:4px;
    height: 26px;
    background: white;
    float:left;
    display:inline-block;
    border-radius:4px;
}

.nextSymbol
{
    position: relative;
    left: 14px;
    top: 4px;
    width:0;
    height:0;
    border-top: solid 16px transparent;
    border-bottom: solid 16px transparent;
    border-left: solid 16px white;
    border-right: solid 16px transparent;
    vertical-align: middle;
}

.playSymbol
{
    display:none;
    position: absolute;
    top:14px;
    left: 4px;
    text-align:center;
    font-family: Arial;
    font-size: 12px;
    font-weight:bold;
    color: white;
}
