body
{
    font-family: "Quicksand";
    margin:0;
}

a
{
    cursor: pointer;
}

img
{
    height: 200px;
    vertical-align: middle;
    border-radius: 10px;
    margin-left:25px;
}

.outerBanner
{
    margin: 8px;
    margin-bottom: 20px;
    background-color: lightblue;
    overflow: hidden;
}

.title
{
    color: white;
    background: gray;
    padding: 10px;
    text-transform: uppercase;
}

.slider
{
    position:relative;
    top: 25px;
    left: 0;
    padding-bottom:20px;
    white-space:nowrap;
}

.activeImage
{
    height: 400px;
    box-shadow: slategray 0px 0px 16px;
    border-radius: 0px;
    cursor:pointer;
}
/*
=======================
LARGE IMAGES VIEW
=======================
*/
.image-large
{
    position:fixed;
    display:block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:auto;
    height:auto;
    max-width: 90%;
    max-height: 90%;
    z-index: 100;
    box-shadow: none;
    margin:auto;
}

.button-close
{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    font-size: 40px;
    background: 0 0;
    border: none;
    color: #fff;
    font-weight: 100;
    font-family: Roboto;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
    z-index: 2;
    opacity: 0.75;
}

/*
=======================
CONTROL BAR and BUTTONS
=======================
*/
.controls
{
    width: 100%;
    background-color:gray;
    text-align:center;
    padding:10px;
    margin-top: 30px;
}

.button
{
    position: relative;
    top:4px;
    margin-left: 18px;
    background: darkgray;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid white;
    display:inline-block;
    cursor: pointer;
}

.button:hover
{
    background: lightgray;
}

.prevSymbol
{
    position: relative;
    right: 8px;
    top: 4px;
    width:0;
    height:0;
    border-top: solid 16px transparent;
    border-bottom: solid 16px transparent;
    border-left: solid 16px transparent;
    border-right: solid 16px white;
    vertical-align: middle;
}

.pauseSymbol
{
    position: relative;
    left:6px;
    top:7px;
    margin-left:6px;
    width:4px;
    height: 26px;
    background: white;
    float:left;
    display:inline-block;
    border-radius:4px;
}

.nextSymbol
{
    position: relative;
    left: 14px;
    top: 4px;
    width:0;
    height:0;
    border-top: solid 16px transparent;
    border-bottom: solid 16px transparent;
    border-left: solid 16px white;
    border-right: solid 16px transparent;
    vertical-align: middle;
}

.playSymbol
{
    display:none;
    position: absolute;
    top:14px;
    left: 4px;
    text-align:center;
    font-family: Arial;
    font-size: 12px;
    font-weight:bold;
    color: white;
}
